
body {
  margin-bottom: 10px;
}

#content {
  margin-top: 20px;
  padding-bottom: 20px;
}

#index {
  min-height: 560px;
  position: relative;
}

#index .footer {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
  width: 600px;
  bottom: 0;
  position: absolute;
}

#index .footer img {
  float: left;
  margin: 10px 10px 0 10px;
  height: 40px;
}

#tags-logo {
  width: 200px;
  margin: 20px 0 30px;
}

.instructions {
  font-size: 18px;
  line-height: 24px;
}

#datasets {
  min-height: 560px;
  max-height: 580px;
  overflow-y: scroll;
  overflow-x: auto;
}

#progress-indicator {
  display: inline-block;
  margin: 15px 6px 0 0;
}

.show-edit {
  padding-top: 13px;
}

.dataset-link .date {
  display: block;
}

#sets {
  margin-left: 0;
  padding-left: 0;
}

/* new birds */

.help-inline {
  padding-bottom: 10px;
}

legend {
  margin-bottom: 10px;
}

legend.select-file {
  margin-bottom: 10px;
}

/*input[type=file] {
  margin: 10px 0;
}*/

#drop-zone {
  border: 2px #ccc dashed;
  margin: 10px 0 30px;
  padding: 20px;
  font-size: 1.2em;
}
#drop-zone .or-drop {
  text-align: center;
}

input[type=file].error {
  color: #b94a48;
}

.file-success {
  border-color: #468847 !important;
  background: #dff0db;
}

.file-error {
  border-color: #b94a48 !important;
  background: #f2dede; 
}

.file-invalid {
  border-color: #b94a48 !important;
  color: #b94a48;
}

#validation-error {
  margin-left: 10px;
  display: none;
}

.uploading-notification {
  margin-top:20px;
  display:none;
}

#upload-indicator {
  display: inline-block;
  margin: 5px 15px;
}

.alert h4 {
  margin-bottom: 20px;
}

#upload-success {
  display: none;
}

#upload-error {
  display: none;
}

.upload-help {
  font-size: 0.8em;
}